// SECTION :: START

section#pr-features.pr-features

		.pr-features__wrapper.pr-features__wrapper-1

			.c-grid

				.pr-features__title-wrapper
					div
						p.pr-features__title.c-title Product Features
						.pr-features__title-line

			.pr-features__box-wrapper
				div
					.pr-features__box.pr-features__box-1
						.c-grid
							.pr-features__box-content
								div
									div
										p
											i.icon-font.icon-devices
										span!= "cross-platform for android <br>iOS And windows PC"
								div
									div
										p
											i.icon-font.icon-security
										span geofence
								div
									div
										p
											i.icon-font.icon-warning
										span push application install
				div
					.pr-features__box.pr-features__box-2
						.c-grid
							.pr-features__box-content
								div
									div
										p
											i.icon-font.icon-browser_not_supported
										span!= "hide disallowed app <br>icons"
								div
									div
										p
											i.icon-font.icon-campaign
										span!= "Auto launch <br>at startup"
								div
									div
										p
											i.icon-font.icon-games
										span!= "prevent unauthorized <br>app running"
				div
					.pr-features__box.pr-features__box-3
						.c-grid
							.pr-features__box-content
								div
									div
										p
											i.icon-font.icon-phonelink_lock
										span lock system setting
								div
									div
										p
											i.icon-font.icon-build
										span!= "remote lock <br>ring & wipe"
								div
									div
										p
											i.icon-font.icon-search
										span!= "get missing device <brb>location"
				div
					.pr-features__box.pr-features__box-4
						.c-grid
							.pr-features__box-content
								div
									div
										p
											i.icon-font.icon-developer_board
										span!= "hardware & software <br>inventory"
								div
									div
										p
											i.icon-font.icon-construction
										span!= "set device <br>wallpaper OTA"
								div
									div
										p
											i.icon-font.icon-build_circle
										span!= "custom device <br>property"

		.pr-features__wrapper.pr-features__wrapper-2

			.c-grid

				.c-btn__wrapper
					a.c-btn(href="#")
						span Case Studies
					a.c-btn(href="#")
						span See us in Action

// SECTION :: END
